<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bungee-Regular.ttf</string>
		<string>Metamorphous-Regular.ttf</string>
		<string>CinzelDecorative-Regular.ttf</string>
		<string>IMFellFrenchCanon-Regular.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mystica needs access to your location to show nearby battle locations and adventures. Your location data is used only for gameplay and is not stored or shared.</string>
	<key>NSCameraUsageDescription</key>
	<string>Mystica needs access to your camera to capture items and materials for your collection.</string>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleDisplayName</key>
	<string>Mystica</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
