<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bungee-Regular.ttf</string>
		<string>Metamorphous-Regular.ttf</string>
		<string>CinzelDecorative-Regular.ttf</string>
		<string>IMFellFrenchCanon-Regular.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mystica needs access to your location to show nearby battle locations and adventures. Your location data is used only for gameplay and is not stored or shared.</string>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
</dict>
</plist>
